<!-- Components -->

<div class="py-5"></div>

<div class="section section-services-cards">
    <div class="container">
        <div class="services-cards">
            <div class="services-cards-intro">
                <h4 class="subtitle">Services</h4>
                <h2 class="title">Unveiling our expertise</h2>
                <p>We offer a comprehensive suite of marketing services, ensuring your business stands out in a competitive landscape.</p>
            </div>
            <div class="services-cards-wrapper">
                <div class="services-cards-holder">
                    <div class="services-card-item">
                        <div class="services-card-number">
                            <span>01</span>
                        </div>
                        <div class="services-card-content">
                            <h3 class="services-card-title">Strategy</h3>
                            <p>Our team creates robust marketing strategies that captivate your target audience and drive business growth.</p>
                            <div class="button-holder">
                                <a href="#" class="button">Optionele button</a>
                            </div>
                        </div>
                    </div>
                    <div class="services-card-item">
                        <div class="services-card-number">
                            <span>02</span>
                        </div>
                        <div class="services-card-content">
                            <h3 class="services-card-title">Content</h3>
                            <p>Our team creates robust marketing strategies that captivate your target audience and drive business growth.</p>
                            <div class="button-holder">
                                <a href="#" class="button">Optionele button</a>
                            </div>
                        </div>
                    </div>
                    <div class="services-card-item">
                        <div class="services-card-number">
                            <span>03</span>
                        </div>
                        <div class="services-card-content">
                            <h3 class="services-card-title">Digital</h3>
                            <p>Our team creates robust marketing strategies that captivate your target audience and drive business growth.</p>
                            <div class="button-holder">
                                <a href="#" class="button">Optionele button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Components -->